/* акцент (голубой) #2196F3 */
/* основной цвет (черн) #212121 */
/* вторичный цвет описание (сер) #757575 */
/* белый #FFFFFF */
/* белый с прозрасностью rgba(255,255,255,0,6) */

:root{
    --primary-text-color: #212121;
    --secondary-text-color:#757575;
    --accent-text-color:#2196F3;
}

body{
    background-color: #fff;
    color:var(--primary-text-color);

    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.03em;

}

a{
    text-decoration:none;
}

p{
    color:var(--secondary-text-color) ;
}

b{
    color: var(--primary-text-color);
}

img {
    display: block;
    /* max-width: 100%; */
    height: auto;
  }

.conteiner{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}

.accent{
    color:var(--accent-text-color) ;
}

.logo{

    color:var(--primary-text-color);

    font-family:Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h2{

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}


/* Шапка */

header{
    background-color: #fff;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header .conteiner{
    display: flex;
    align-items: center;
}

.main-nav{
    display: flex;
    align-items: center;
}

.logo-header{
    margin-right: 93px;
}

.nav{
    display:flex;
}

.nav li:not(:last-child){
    margin-right: 50px;
}

.nav a{
    display:block;
    padding-top: 32px;
    padding-bottom: 32px;

    color:var(--primary-text-color) ;
}

.address{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
}

.address li:not(:last-child){
    margin-right: 50px;
}

.address a{
    color: var(--secondary-text-color);
    
}

.nav a:hover,
.nav a:focus,
.address a:hover,
.address a:focus{
    color:var(--accent-text-color) ;
}

/* Герой */
.hero{
    background-color: #2F303A;

    text-align: center;
}

.hero-title{
    color: #fff;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;

    margin-bottom: 30px;
    

}

.button{
    display: inline-block;

    background-color: var(--accent-text-color);
    color: #fff;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    text-align: center;
    letter-spacing: 0.06em;

    padding: 10px 32px;
    border-radius: 4px;
}

/* Наши приемущества */

.hidden-header{
    margin-top: 0;
    margin-bottom: 0;
}

.advantages{
display: flex;
padding-top: 94px;
}

.advantages li:not(:last-child){
    margin-right: 30px;
}

.advantages h3{
    margin-bottom: 10px;
}

/* Чем Мы занимаемся */

.title{
    margin-bottom: 50px;
}


.description-page{
    

    background-color: #fff;
}
.description-page  h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.description-page  p{
    font-weight: 400;
    line-height: 1.71;

    letter-spacing: 0.03em;
}

.description-page ul, p {
    margin-top: 0;
    margin-bottom: 0;
}

.work-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-list li{
    width: calc((100% - 60px)/3);
    margin-right: 30px;
}

.work-list li:nth-child(3n){
    margin-right: 0px;
}

.box-img{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Наша команда */

.workers{
    background-color: #F5F4FA;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    letter-spacing: 0.03em;
}

.workers .conteiner{
    padding-top: 94px;
}

.workers ul{
    display: flex;
    padding-bottom: 94px;
}

.workers li{
    width: 270px;
    height: 368px;
}

.workers li:not(:last-child){
    margin-right: 30px;
}

.workers b{
    font-weight: 500;
    
    display: inline-block;

    margin-bottom: 10px;
}

.workers img{
    margin-bottom: 30px;
}

figure{
    margin-top: 0;
    margin-bottom: 0;
}

/* Подвал */

footer{
    background-color: #2F303A;
    color: #FFFFFF;

    font-weight: 400;
    line-height: 1.71;

    letter-spacing: 0.03em;
}

address{
    font-style: normal;
}

.logo-footer{
    color: #fff;

    font-family:Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;

    display: inline-block;

    margin-bottom: 20px;
}

.footer-link{
    color: rgba(255, 255, 255, 0.6);
}

footer address{
    margin-bottom: 9px;
}

footer li:not(:last-child) {````````eeeeeeeeeeeeeeeeeeeeee
    margin-bottom: 9px;
}

.footer-conteiner{
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Портфолио */

.portfolio-conteiner{
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-conteiner{
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.filter{
    background-color: #F5F4FA;

    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    letter-spacing: 0.03em;
}

.filter-conteiner li:not(:last-child){
    margin-right: 8px;
}

.filter:hover,
.filter:focus{
    color: #FFFFFF;
    background-color: var(--accent-text-color);
}

.projects{
    display: flex;
    flex-wrap: wrap;
}

.projects li{
    width: 370px;
    margin-right: 30px;
}

.projects li:nth-child(3n){
    margin-right: 0px;
}

.projects b{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
}

.projects p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.03em;
}
