/* акцент (голубой) #2196F3 */
/* основной цвет (черн) #212121 */
/* вторичный цвет описание (сер) #757575 */
/* белый #FFFFFF */
/* белый с прозрасностью rgba(255,255,255,0,6) */

:root{
    --primary-text-color: #212121;
    --secondary-text-color:#757575;
    --accent-text-color:#2196F3;
}

body{
    background-color: #fff;
    color:var(--primary-text-color);

    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.03em;

}

p{
    color:var(--secondary-text-color) ;
}

b{
    color: var(--primary-text-color);
}

.conteiner{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}

.accent{
    color:var(--accent-text-color) ;
}

.logo{
    color:var(--primary-text-color);

    font-family:Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;

}

ul{
    list-style: none;
}

h2{

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}


/* Шапка */

header{
    background-color: #fff;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav a{
    color:var(--primary-text-color) ;
}

.address a{
    color: var(--secondary-text-color);
}

.nav a:hover,
.nav a:focus,
.address a:hover,
.address a:focus{
    color:var(--accent-text-color) ;
}

/* Герой */
.hero{
    background-color: #2F303A;
}

.hero-title{
    color: #fff;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
}

.button{
    background-color: var(--accent-text-color);
    color: #fff;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    text-align: center;
    letter-spacing: 0.06em;
}

/* Чем Мы занимаемся */

.description-page{
    background-color: #fff;
}
.description-page  h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.description-page  p{
    font-weight: 400;
    line-height: 1.71;

    letter-spacing: 0.03em;
}

/* Наша команда */

.workers{
    background-color: #F5F4FA;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    letter-spacing: 0.03em;
}

.workers b{
    font-weight: 500;
}

/* Подвал */

footer{
    background-color: #2F303A;
    color: #FFFFFF;

    font-weight: 400;
    line-height: 1.71;

    letter-spacing: 0.03em;
}

.logo-footer{
    color: #fff;
}

.footer-link{
    color: rgba(255, 255, 255, 0.6);
}

/* Портфолио */

.filter{
    background-color: #F5F4FA;

    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    letter-spacing: 0.03em;
}

.filter:hover,
.filter:focus{
    color: #FFFFFF;
    background-color: var(--accent-text-color);
}

.projects b{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
}

.projects p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.03em;
}
